# Преобразование концов строк
* text=auto

# Настройка файлов для разных операционных систем
*.java text eol=lf
*.bat text eol=crlf

# Обработка изображений как бинарных
*.png binary
*.jpg binary

# Преобразование для Markdown файлов
*.md text

# Принудительное использование стратегии слияния для файлов .lock
*.lock merge=union